# volumes:
# venv:
# test_db_data:
volumes:
  dotnext:
  test_db_data:

# dev server
services:
  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    volumes:
      - ~/.claude/credentials.json:/root/.claude/credentials.json
      - ./:/app
    working_dir: /app
    command: bun bot/index.ts
    # command: npx -y bun --hot bot/index.ts

  # comfy-pr:
  #   # prod
  #   # image: comfy-pr
  #   # build: .
  #   # working_dir: /app/

  #   # dev
  #   image: oven/bun
  #   command: bun dev --turbopack
  #   working_dir: /app/

  #   # image: node
  #   # command: npx -y bun dev
  #   #
  #   develop:
  #     command: bun dev --turbopack
  #     image: oven/bun
  #   volumes:
  #     - ./:/app/
  #     # - dotnext:/app/.next
  #   environment:
  #     PORT: 80
  #   env_file:
  #     - .env.local

  # db is not necessary for local dev
  # todo: use .override.yml to enable testing dmongodb
  # comfy-pr-db:
  #   restart: always
  #   image: mongo
  #   ports: ["27017:27017"]
  #   volumes: [test_db_data:/data/db]
