name: "Scan Github Bug Cop Labels per 5 minutes"
on:
  schedule:
    # Runs every 5 minutes
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - sno-bug-cop
    paths:
      - ".github/workflows/gh-bugcop.yaml"
      - "app/tasks/gh-bugcop/gh-bugcop.tsx"
jobs:
  run_bugcop_scanner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun i
      # Run Bug Cop Scanner
      - run: bun app/tasks/gh-bugcop/gh-bugcop.tsx
        timeout-minutes: 5 # usually runs under 20s
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_COMFY_PR_BOT }} # Use the bot token request reviews
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
